PORT=4000

JWT_ACCESS_SECRET=xxxxxx
JWT_REFRESH_SECRET=xxxxx

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/knowledge_hub?schema=public"

REDIS_URL=redis://localhost:6379

AWS_ACCESS_KEY_ID=xxxxx
AWS_SECRET_ACCESS_KEY=xxxxx
AWS_REGION=us-east-1
AWS_BUCKET_NAME=xxxx